@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background-light text-primary-light;
}

.dark body {
  @apply bg-background-dark text-primary-dark;
}

/* Tarjetas (Card) */
.card-theme {
  @apply bg-card-light text-primary-light border border-border-light;
}
.dark .card-theme {
  @apply bg-card-dark text-primary-dark border border-border-dark;
}

/* Mejorar contraste en markdown */
.prose {
  @apply text-primary-light;
}
.dark .prose {
  @apply text-primary-dark;
}

/* Botones de acento */
.button-accent {
  @apply bg-accent-light text-white;
}
.dark .button-accent {
  @apply bg-accent-dark text-black;
}

/* Evita que el texto largo se desborde en markdown, pre y code */
.markdown-body,
.markdown-body * {
  word-break: break-word;
}
pre,
code {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-x: auto;
  max-width: 100%;
  box-sizing: border-box;
}
